<fieldset>
  <legend>Our Pet Site!</legend>
  <form (submit)="processPet(petForm)" #petForm='ngForm'>
    {{petForm.value | json}}<br>
    Name:<input type="text" name='name' [(ngModel)]='pet.name' required=true>
    Type:<input type="text" name='type'[(ngModel)]='pet.type'>
    Owner:<input type="text" name='owner'[(ngModel)]='pet.owner'>
    <button [disabled]="petForm.invalid" type='submit' value='Add Pet'>Add Pet</button>
  </form>



  <table>
    <tr>
      <th>Name</th>
      <th>Animal</th>
      <th>Owner</th>
    </tr>
    <tr *ngFor='let pet of pets'>
      <td>{{pet.name}}</td>
      <td>{{pet.type}}</td>
      <td>{{pet.owner}}</td>
    </tr>
  </table>
</fieldset>
